All_num=list(range(1,301,1)) #create a list from 1 to 300

In [31]:
holder=[] #generate an empty list to hold fizz, buzz, or Fizzbuzz
for i in All_num: #iterate over the list containing all numbers from 1 to 300
    if i%3 == 0:   #use conditional statements to assign fizz, buzz, and fizzbuzz appropriately
        print('fizz')
        holder.append('fizz')
    if i%5 == 0:
        print('buzz')
        holder.append('buzz')
    if i%3 ==0 and i%5==0:
        print('Fizzbuzz')
        holder.append('Fizzbuzz')

In [33]:
fizz=holder.count('fizz') #count the number of each word and return the value
buzz=holder.count('buzz')
Fizzbuzz=holder.count('Fizzbuzz')

In [34]:
import pandas as pd

In [42]:
pd.DataFrame({'Fizz':fizz,'Buzz':buzz, 'Fizzbuzz':Fizzbuzz}, index=[0]) #arranges the number of words in a pandas dataframe

   Fizz  Buzz  Fizzbuzz
0   100    60        20

In [43]:
5//3

1

In [44]:
5%3

2

In [1]:
a=(2,3,4)

In [2]:
b=(1,2)

In [3]:
c=a*b

TypeError: can't multiply sequence by non-int of type 'tuple'

In [4]:
a=[2,3,4]

In [5]:
b=[1,2]

In [6]:
c=a*b

TypeError: can't multiply sequence by non-int of type 'list'

In [8]:
import numpy as np
np.dot(a, b)

ValueError: shapes (3,) and (2,) not aligned: 3 (dim 0) != 2 (dim 0)